.basic-info {
  width: 80%;
  margin: auto;
  border-bottom: 0.1vh solid rgba(230, 230, 230, 0.5);
  margin-top: 1vh;
  background-color: #303134;
  display: flex;
  flex: 1;
  justify-content: space-between;
}

.basic-info-left {
  font-weight: 500;
  padding-top: 1vh;
  padding-bottom: 1vh;
  padding-left: 0.5vw;
  
}

.basic-info-name {
  font-size: 120%;
}

.basic-info-price {
  font-size: 150%;
  font-weight: 900;
}

.basic-info-right {
  font-weight: 500;
  padding-top: 1vh;
  padding-bottom: 1vh;
  padding-right: 0.5vw;
  font-size: 80%;
  text-align: right;
}

.basic-info-views {
  line-height: 180%;
}

.basic-info-price, .basic-info-views {
  display: block;
}

.report {
  font-weight: 500;
}

.report:hover {
  color: #01b5c9;
  cursor: pointer;
}

/* INFO CONTAINER */
.data-container {
  width: 80%;
  margin: auto;
  margin-top: 1vh;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

/* RIGHT SECTION */
.right-section {
  width: 34%;
  margin-left: auto;
  margin-bottom: auto;
}

/* USER SECTION */
.user-info-container {
  border-bottom: 0.1vh solid rgba(230, 230, 230, 0.5);
  background-color: #303134;
  width: 100%;
}

.user-image {
  border-bottom: 0.1vh solid rgba(230, 230, 230, 0.5);
  text-align: center;
  margin-top: 0.5vh;
  padding-bottom: 0.5vh;
}

.user-image > img {
  border: 0.1vh solid rgba(230, 230, 230, 0.5);
  transition: 0.5s;
  height: 10vh;
  width: 10vh;
}

.user-image > img:hover {
  border: 0.1vh solid #01b5c9;
  cursor: pointer;
}

.user-name {
  display: inline;
  transition: 0.5s;
}

.user-name:hover {
  color: #01b5c9;
  cursor: pointer;
}

.user-info {
  font-size: 1.8vh;
}

.info-section {
  padding-left: 0.8vh;
  padding-top: 0.8vh;
  padding-bottom: 0.8vh;
  border-bottom: 0.1vh solid rgba(230, 230, 230, 0.5);
}

.info-section:last-child {
  border-bottom: none;
}

.gas-color {
  color: #01b5c9;
  margin-right: 0.3vh;
}

/* ACTIONS SECTION */
.listing-actions {
  /*border: 0.1vh solid #c4c4c4;
  background-color: rgba(230, 230, 230, 0.2);*/
  width: 100%;
  margin-top: 1vh;
}

.listing-actions > button {
  all: unset;
  border: 0.1vh solid #01b5c9;
  margin-right: 0.5vh;
  padding: 1vh 1.2vh;
  transition: 0.5s;
}

.listing-actions > button:hover {
  background-color:  #01b5c9;
  color: white;
  cursor: pointer;
}


/* LISTING SECTION */
.listing-info-container {
  border-bottom: 0.1vh solid rgba(230, 230, 230, 0.5);
  width: 65%;
}

.listing-info-header {
  border-bottom: 0.1vh solid rgba(230, 230, 230, 0.5);
  background-color: #303134;
  text-align: center;
  padding-top: 1vh;
  padding-bottom: 1vh;
}

.listing-part {
  display: flex;
  transition: 0.5s;
}

.left-part, .right-part {
  font-size: 1.75vh;
  border: 0.1vh solid rgba(230, 230, 230, 0.5);
  border-top: none;
  border-left: none;
  border-right: none;
  width: 50%;
  padding: 0.4vw;
  padding-right: 0px;
}

.right-part {
  border-right: none;
  font-weight: 600;
}

.listing-part:hover {
  color: white;
  cursor: auto;
}

.listing-section .listing-part:nth-of-type(odd) {
  background-color: rgba(230, 230, 230, 0.1);
}

.listing-section .listing-part:nth-of-type(even) {
  background-color: #303134;
}

.listing-description {
  padding: 0.5vw;
  padding-right: none;
  background-color: rgba(230, 230, 230, 0.1);
}

.desc-title {
  font-weight: 600;
  font-size: 110%;
  line-height: 130%;
}

.desc-text {
  display: block;
}


@media only screen and (max-width: 768px) {
  .user-image > img {
    height: 7vh;
    width: 7vh;
  }
}


@media only screen and (max-width: 950px) {
  .data-container {
    flex-direction: column;
  }

  .listing-info-container {
    margin: auto;
    width: 100%;
    margin-bottom: 1vh;
  }

  .right-section {
    margin: auto;
    width: 100%;
  }
}